 <!--  
  <script id="contact.html" type="text/ng-template">
      <ion-nav-bar class="nav-title-slide-ios7 bar-positive">
        <ion-nav-back-button class="button-icon ion-arrow-left-c">
        </ion-nav-back-button>
      </ion-nav-bar> 
      <ion-view title="Contact">

        <ion-content>
          <p>@IonicFramework</p>
          <p>@DriftyCo</p>
        </ion-content>
      </ion-view>
    </script>-->

      <ion-view title="Dados Transação">
      
      <ion-nav-bar class="bar-positive">
          <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
          </button> 
          <ion-nav-back-button class="button-icon ion-arrow-left-c">
          </ion-nav-back-button>
        </ion-nav-bar>
        <ion-content padding="true">
       
          <form class="list">
            <div class="item item-divider">
              
            </div>
            <label class="item item-input">
              <input type="text" placeholder="oid" ng-model="autorizacao.oid">
            </label>
            <label class="item item-input">
              <input type="text" placeholder="cpf" ng-model="autorizacao.cpf">
            </label>
            <label class="item item-input">
              <input type="text" placeholder="conta" ng-model="autorizacao.conta">
            </label>
            <label class="item item-input">
              <input type="text" placeholder="valorTransacao" ng-model="autorizacao.valorTransacao">
            </label>
             <label class="item item-input">
              <input type="text" placeholder="tipoTransacao" ng-model="autorizacao.tipoTransacao">
            </label>
             <label class="item item-input">
              <input type="text" placeholder="numeroPrestacoes" ng-model="autorizacao.numeroPrestacoes">
            </label>
              <label class="item item-input">
              <input type="text" placeholder="valorPrestacao" ng-model="autorizacao.valorPrestacao">
            </label>
             <label class="item item-input">
              <input type="text" placeholder="dataCadastro" ng-model="autorizacao.dataCadastro">
            </label>
            <label class="item item-input">
              <input type="text" placeholder="dataCancelamento" ng-model="autorizacao.dataCancelamento">
            </label>
           
            <div class="padding">
    
              <button ng-click="cancela({oid:autorizacao.oid})"  class="button icon icon-right ion-chevron-right">Cancela </button>
              <button ng-click="confirma({oid:autorizacao.oid})"  class="button icon icon-right ion-chevron-right">Confirma </button>


   
   
   

            </div>
          </form>

         
        </ion-content>
      </ion-view>
    
   