   <!--  
  <script id="contact.html" type="text/ng-template">
      <ion-nav-bar class="nav-title-slide-ios7 bar-positive">
        <ion-nav-back-button class="button-icon ion-arrow-left-c">
        </ion-nav-back-button>
      </ion-nav-bar> 
      <ion-view title="Contact">

        <ion-content>
          <p>@IonicFramework</p>
          <p>@DriftyCo</p>
        </ion-content>
      </ion-view>
    </script>-->
  
      <ion-view title="Lista Autorizações Pendentes">
      
      <ion-nav-bar class="bar-positive">
          <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
          </button> 
          <ion-nav-back-button class="button-icon ion-arrow-left-c">
          </ion-nav-back-button>
        </ion-nav-bar>


        <ion-content padding="true" ng-class="{'has-loading': data.isLoading}">

         <ion-toggle ng-model="data.isLoading">Toggle me to toggle loading!</ion-toggle>




         
          <div class="list">
           <ion-list>
            <ion-item ng-repeat="autorizacao in autorizacaoList.transacoes track by autorizacao.oid" >
                  <button class="item item-icon-right" ui-sref ="autorizacaoPOS.transacoes.entry({autorizacaoOid:autorizacao.oid})">
                     <i class="icon ion-arrow-right-c"> </i>
                     {{ autorizacao.oid }} - {{ autorizacao.conta }} - {{ autorizacao.nomeCompleto }}
                  </button>
            </ion-item>
          </ion-list>
          </div>
         
        </ion-content>


    

<ion-nav-view name="entry-tab"></ion-nav-view>


