   <!--  
  <script id="contact.html" type="text/ng-template">
      <ion-nav-bar class="nav-title-slide-ios7 bar-positive">
        <ion-nav-back-button class="button-icon ion-arrow-left-c">
        </ion-nav-back-button>
      </ion-nav-bar> 
      <ion-view title="Contact">

        <ion-content>
          <p>@IonicFramework</p>
          <p>@DriftyCo</p>
        </ion-content>
      </ion-view>
    </script>-->
  
      <ion-view title="Parcelas">
      
      <ion-nav-bar class="bar-positive">
          <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
          </button> 
          <ion-nav-back-button class="button-icon ion-arrow-left-c">
          </ion-nav-back-button>
        </ion-nav-bar>
        <ion-content padding="true">
          <div class="list">
         


           <ion-list>
            <ion-item ng-repeat="parcelamento in parcelamentoList.parcelas track by parcelamento.numeroParcelas" >
                  <button class="item item-icon-right" ui-sref ="parcelamento.simula.list.entry({parcelaOid:parcelamento.numeroParcelas})">
                     <i class="icon ion-arrow-right-c"> </i>
                     {{ parcelamento.numeroParcelas }}  X  {{ parcelamento.valorParcela }} =  {{ parcelamento.valorTotal }}
                  </button>

                  
          
            </ion-item>
          </ion-list>
           
           
          </div>
          
        </ion-content>
      </ion-view>
    

<ion-nav-view name="entry-tab"></ion-nav-view>


