 <!--  
  <script id="contact.html" type="text/ng-template">
      <ion-nav-bar class="nav-title-slide-ios7 bar-positive">
        <ion-nav-back-button class="button-icon ion-arrow-left-c">
        </ion-nav-back-button>
      </ion-nav-bar> 
      <ion-view title="Contact">

        <ion-content>
          <p>@IonicFramework</p>
          <p>@DriftyCo</p>
        </ion-content>
      </ion-view>
    </script>-->

    <ion-view title="Dados Parcela">
      
      <ion-nav-bar class="bar-positive">
          <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
          </button> 
          <ion-nav-back-button class="button-icon ion-arrow-left-c">
          </ion-nav-back-button>
        </ion-nav-bar>
        <ion-content padding="true">
       
          <form class="list">
            <div class="item item-divider">
              
            </div>
          
            <label class="item item-input">
              <input type="text" placeholder="numeroParcelas" ng-model="parcelamento.numeroParcelas">
            </label>
            <label class="item item-input">
              <input type="text" placeholder="valorParcela" ng-model="parcelamento.valorParcela">
            </label>
            <label class="item item-input">
              <input type="text" placeholder="valorTotal" ng-model="parcelamento.valorTotal">
            </label>
             <label class="item item-input">
              <input type="text" placeholder="valorIOF" ng-model="parcelamento.valorIOF">
            </label>
             <label class="item item-input">
              <input type="text" placeholder="taxaJuros" ng-model="parcelamento.taxaJuros">
            </label>
            
           
            <div class="padding">
    
             


   
   
   

            </div>
          </form>

         
        </ion-content>
      </ion-view>
    
    

