
        <ion-view title="Propostas">
        <ion-nav-buttons side="left">
          <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
         <button class="button button-clear" ui-sref ="proposta.entry">
          Nova Proposta
        </button>

        </ion-nav-buttons>

        

        <ion-content class="has-header">
          <ion-list>
            <ion-item ng-repeat="proposta in propostas.parcelas"  href="#/proposta/entry/{{proposta.oid}}">
              {{ proposta.numeroParcelas }} - {{ proposta.valorParcela }} - {{ proposta.valorTotal }} - {{ proposta.valorIOF }} - {{ proposta.taxaJuros }}

              
            </ion-item>
          </ion-list>
        </ion-content>
      </ion-view>
 


