


  <ion-view title="Proposta">
  <ion-content class="has-header">
   
    <p> </p>
          <p>Entry da proposta.</p>
         


        <form ng-submit="save(proposta)">
          <div class="list">
            <label class="item item-input">
              <input type="text" placeholder="Inform o nome o httpMethod?" ng-model="proposta.httpMethod">
            </label>

            <label class="item item-input">
              <input type="text" placeholder="Inform o caminho?" ng-model="proposta.caminho">
            </label>

            <label class="item item-input">
              <input type="text" placeholder="Inform o nome?" ng-model="proposta.nome">
            </label>

            <label class="item item-input">
              <input type="text" placeholder="Inform o classe?" ng-model="proposta.classe">
            </label>

             <label class="item item-input">
              <input type="text" placeholder="Inform o metodo?" ng-model="proposta.metodo">
            </label>
          </div>
          <div class="padding">
            <button type="submit" class="button button-block button-positive">Salvar Proposta</button>
             
          </div>
        </form>

     

         
  </ion-content>
</ion-view>
</script> 